.todolist_wrap {
    width: 89vw;
    height: 99vh;
    position: relative;
}

.todolist_top_area_wrap {
    margin-top: 10px;
    width: 100%;
    height: 80vh;
}


.todolist_bottom_wrap {
    margin-top: 5px;
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 15px;
    overflow-x: hidden;
    bottom: 25px;
    position: relative;
}


@media screen and (max-width: 1000px) {
    .todolist_top_area_wrap {
        margin-top: 160px;
    }

    .todolist_bottom_wrap {
        position: absolute;
        top: 25px;
        align-items: flex-start;
    }
    .todolist_wrap{
        margin-bottom: 65vh;
    }
}

@media screen and (max-width: 720px) {
    .todolist_wrap {
        width: 80vw;
        margin: auto;
    }
    .todolist_wrap{
        margin-bottom: 35vh;
    }
}

@media screen and (max-width: 540px) {
    .todolist_top_area_wrap {
        margin-top: 310px;
        margin-left: -13vw;
    }

    .todolist_wrap{
        margin-bottom: 650px;
        background-image: url('../img/doit.svg');
        background-repeat: no-repeat;
        background-size: 75%;
        background-position-x: 40%;
        background-position-y: 10px;
    }

    .todolist_bottom_wrap {
        top: 165px;
    }
}