.left_home_area_wrap {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


@media screen and (max-width: 1300px) {
    .left_home_area_wrap {
        width: 95%;
    }
}

